<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

    <head>
        <title>Home | Carey Development Demos</title>
        <meta content="Twitter login demo" name="description" />
        <object th:include="/fragments/head :: head" th:remove="tag"></object>
    </head>

    <body class="page-container-bg-solid">
		<div th:include="fragments/topmenuheader :: header"></div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                    	<div class="row">
                        	<div class="col-md-9">
        		                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-home"></i>Spring Boot Demos </div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse"> </a>
                                            <a href="#portlet-config" data-toggle="modal" class=" "> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="panel-group accordion" id="accordion3">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Twitter Login Demo </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_3_1" class="panel-collapse in">
                                                    <div class="panel-body">
														<p> Lets a user login with with Twitter to a Spring Boot app. Great for 
		                                                implementing SSO-like capabilities so you don't have to force users to
		                                                go through the whole email verification thing. </p>
		                                                <button type="button" class="btn green mt-ladda-btn ladda-button btn-circle btn-outline" onclick="document.location='./twitterLogin'" data-style="slide-down" data-spinner-color="#333">
                                                        	<span class="ladda-label"><i class="fa fa-hand-o-right"></i> View Demo</span>
                                                        </button>                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2"> Facebook Login Demo </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_3_2" class="panel-collapse collapse">
													<div class="panel-body">
														<p> Lets a user login with with Facebook to a Spring Boot app. Great for 
		                                                implementing SSO-like capabilities so you don't have to force users to
		                                                go through the whole email verification thing. </p>
		                                                <button type="button" class="btn green mt-ladda-btn ladda-button btn-circle btn-outline" onclick="document.location='./facebookLogin'" data-style="slide-down" data-spinner-color="#333">
                                                        	<span class="ladda-label"><i class="fa fa-hand-o-right"></i> View Demo</span>
                                                        </button>                                                
                                                    </div>
                                            	</div>
                                           	</div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3"> Thymeleaf Table Demo </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_3_3" class="panel-collapse collapse">
													<div class="panel-body">
														<p> Believe it or not, it's harder to create dynamic tables with Thymleleaf than you might think. 
														This demo shows you the table in action, which doesn't seem very impressive. Be sure to have a look
														at the code so you can see how it's done. </p>
		                                                <button type="button" class="btn green mt-ladda-btn ladda-button btn-circle btn-outline" onclick="document.location='./thymeleafTable'" data-style="slide-down" data-spinner-color="#333">
                                                        	<span class="ladda-label"><i class="fa fa-hand-o-right"></i> View Demo</span>
                                                        </button>                                                    
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4"> REST Demo </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_3_4" class="panel-collapse collapse">
													<div class="panel-body">
                                                        <p>This simple REST (REpresentational State Transfer) demo simulates a service that returns
                                                        employee info in JSON (JavaScript Object Notation) format. </p>
		                                                <button type="button" class="btn green mt-ladda-btn ladda-button btn-circle btn-outline" onclick="document.location='./employees'" data-style="slide-down" data-spinner-color="#333">
                                                        	<span class="ladda-label"><i class="fa fa-hand-o-right"></i> View Demo</span>
                                                        </button>                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
    </body>
</html>