<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

    <head>
        <title>Home | Carey Development Demos</title>
        <meta content="Carey Development Demos" name="description" />
        <object th:include="fragments/head :: head" th:remove="tag"></object>
        <style>
        	.demoImage {
        		margin-top:5px; 
        		max-width:250px; 
        		height:auto; 
        		display:inline-block;
        	}
        </style>
    </head>
    
    <body class="page-container-bg-solid">
    	<div th:include="fragments/topmenuheader :: header"></div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                    	<div class="row" style="text-align:center">
                    		<img th:src="@{/images/demos.png}" style="max-width:100%"/>
                    	</div>
                    	<div class="row" style="margin-top:40px">
      	                      <div class="portlet light portlet-fit ">
                                      <div class="portlet-title">
                                          <div class="caption">
                                              <i class="icon-microphone font-dark hide"></i>
                                              <span class="caption-subject bold font-dark uppercase"> Integration Demos</span>
                                              <span class="caption-helper"></span>
                                          </div>
                                      </div>
                                      <div class="portlet-body">
                                          <div class="row">
                                              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  <div class="mt-widget-2">
                                                      <div class="mt-head">
                                                      	  <div style="text-align:center">
                                                      	  	<a href="./twitterLogin" target="_blank"><img th:src="@{/images/twitter1.png}" class="demoImage"/></a>
                                                          </div>
                                                      </div>
                                                      <div class="mt-body" style="margin-top:15px">
                                                          <h3 class="mt-body-title"> Twitter Login </h3>
                                                          <p class="mt-body-description"> Lets a user login with with Twitter to a Spring Boot app. Great for 
    	                                                		implementing SSO-like capabilities so you don't have to force users to
    	                                                		go through the whole email verification thing. </p>
                                                          <div class="mt-body-actions">
                                                              <div class="btn-group btn-group btn-group-justified">
                                                                  <a href="./twitterLogin" target="_blank" class="btn">
                                                                      <i class="icon-picture"></i> View Demo </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  <div class="mt-widget-2">
                                                      <div class="mt-head">
                                                      	  <div style="text-align:center">
                                                      	  	<a href="./facebookLogin" target="_blank"><img th:src="@{/images/facebook.jpg}" class="demoImage"/></a>
                                                          </div>
                                                      </div>
                                                      <div class="mt-body" style="margin-top:15px">
                                                          <h3 class="mt-body-title"> Facebook Login </h3>
                                                          <p class="mt-body-description"> Lets a user login with with Facebook to a Spring Boot app. Great for 
    	                                                implementing SSO-like capabilities so you don't have to force users to
    	                                                go through the whole email verification thing. </p>
                                                          <div class="mt-body-actions">
                                                              <div class="btn-group btn-group btn-group-justified">
                                                                  <a href="./facebookLogin" class="btn" target="_blank">
                                                                      <i class="icon-picture"></i> View Demo </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  <div class="mt-widget-2">
                                                      <div class="mt-head">
                                                      	  <div style="text-align:center">
                                                      	  	<a href="./enterAddress" target="_blank"><img th:src="@{/images/zillow.png}" class="demoImage"/></a>
                                                          </div>
                                                      </div>
                                                      <div class="mt-body" style="margin-top:15px">
                                                          <h3 class="mt-body-title"> Zillow API </h3>
                                                          <p class="mt-body-description"> This demo demonstrates integration with the Zillow API. Just enter a U.S. home address and view its valuation!</p>
                                                          <div class="mt-body-actions">
                                                              <div class="btn-group btn-group btn-group-justified">
                                                                  <a href="./enterAddress" class="btn" target="_blank">
                                                                      <i class="icon-picture"></i> View Demo </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>                                              
                                          </div>
    									  <div class="portlet-body">
                                              <div class="row">
                                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                      <div class="mt-widget-2">
                                                          <div class="mt-head">
                                                          	  <div style="text-align:center">
                                                          	  	<a href="./youtubeDemo" target="_blank"><img th:src="@{/images/youtube.png}" class="demoImage"/></a>
                                                              </div>
                                                          </div>
                                                          <div class="mt-body" style="margin-top:15px">
                                                              <h3 class="mt-body-title"> YouTube API </h3>
                                                              <p class="mt-body-description"> This demo demonstrates integration with the YouTube API. Enter a search string and find up to 5 videos that match it. </p>
                                                              <div class="mt-body-actions">
                                                                  <div class="btn-group btn-group btn-group-justified">
                                                                      <a href="./youtubeDemo" class="btn" target="_blank">
                                                                          <i class="icon-picture"></i> View Demo </a>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  </div>
                                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  </div>                                              
                                            </div>                                          
                                        </div>
                                    </div>
                                </div>                                         
                        </div>
                    	
                    	
                    	<div class="row">
      	                      <div class="portlet light portlet-fit ">
                                      <div class="portlet-title">
                                          <div class="caption">
                                              <i class="icon-microphone font-dark hide"></i>
                                              <span class="caption-subject bold font-dark uppercase"> Functionality Demos</span>
                                              <span class="caption-helper"></span>
                                          </div>
                                      </div>
                                      <div class="portlet-body">
                                          <div class="row">
                                              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  <div class="mt-widget-2">
                                                      <div class="mt-head">
                                                      	  <div style="text-align:center">
                                                      	  	<a href="./employees" target="_blank"><img th:src="@{/images/rest.jpeg}" class="demoImage"/></a>
                                                          </div>
                                                      </div>
                                                      <div class="mt-body" style="margin-top:15px">
                                                          <h3 class="mt-body-title"> REST Demo </h3>
                                                          <p class="mt-body-description"> This simple REST (REpresentational State Transfer) demo simulates a service that returns
                                                        employee info in JSON (JavaScript Object Notation) format.</p>
                                                          <div class="mt-body-actions">
                                                              <div class="btn-group btn-group btn-group-justified">
                                                                  <a href="./employees" class="btn" target="_blank">
                                                                      <i class="icon-picture"></i> View Demo </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  <div class="mt-widget-2">
                                                      <div class="mt-head">
                                                      	  <div style="text-align:center">
                                                      	  	<a href="./ajaxDemo" target="_blank"><img th:src="@{/images/ajax.png}" class="demoImage"/></a>
                                                          </div>
                                                      </div>
                                                      <div class="mt-body" style="margin-top:15px">
                                                          <h3 class="mt-body-title"> AJAX Demo </h3>
                                                          <p class="mt-body-description"> Want to see Asynchronous Javascript and XML (AJAX) in action? This demo
                                                          shows how to use Spring Boot to provide a richer user experience. </p>
                                                          <div class="mt-body-actions">
                                                              <div class="btn-group btn-group btn-group-justified">
                                                                  <a href="./ajaxDemo" class="btn" target="_blank">
                                                                      <i class="icon-picture"></i> View Demo </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  <div class="mt-widget-2">
                                                      <div class="mt-head">
                                                      	  <div style="text-align:center">
                                                      	  	<a href="./form" target="_blank"><img th:src="@{/images/validation.jpg}" class="demoImage"/></a>
                                                          </div>
                                                      </div>
                                                      <div class="mt-body" style="margin-top:15px">
                                                          <h3 class="mt-body-title"> Form Validation </h3>
                                                          <p class="mt-body-description">This form validation demo shows how you can validate form fields with annotations on model objects. No JQuery required!</p>
                                                          <div class="mt-body-actions">
                                                              <div class="btn-group btn-group btn-group-justified">
                                                                  <a href="./form" class="btn" target="_blank">
                                                                      <i class="icon-picture"></i> View Demo </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>                                              
                                          </div>
                                          <div class="portlet-body">
                                              <div class="row">
                                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                      <div class="mt-widget-2">
                                                          <div class="mt-head">
                                                          	  <div style="text-align:center">
                                                          	  	<a href="./thymeleafTable" target="_blank"><img th:src="@{/images/table.PNG}" class="demoImage"/></a>
                                                              </div>
                                                          </div>
                                                          <div class="mt-body" style="margin-top:15px">
                                                              <h3 class="mt-body-title"> Thymeleaf Table Demo </h3>
                                                              <p class="mt-body-description"> Believe it or not, it's harder to create dynamic tables with Thymleleaf than you might think. 
    																This demo shows you the table in action, which doesn't seem very impressive. Be sure to have a look
    																at the code so you can see how it's done. </p>
                                                              <div class="mt-body-actions">
                                                                  <div class="btn-group btn-group btn-group-justified">
                                                                      <a href="./thymeleafTable" class="btn" target="_blank">
                                                                          <i class="icon-picture"></i> View Demo </a>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  </div>
                                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                  </div>                                              
                                              </div>                                          
                                        </div>
                                    </div>
                              </div>                                         
                    	</div>                    	
                    </div>
                </div>
            </div>
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
    </body>
</html>